.galaxy{
    font-family: 'Times New Roman', Times, serif;
    text-decoration-line:underline;
}
.para{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.btn{
    background-color: beige;
}
.ton{
    background-color: beige;
}